[LAB]
name=steg_lsb-png
description=LSB Steganography in PNG Images
registry=r3xonx
containers=sender receiver

[NETWORK]
name=steg_network
subnet=172.21.0.0/24
mask=24

[CONTAINER sender]
image=steg_lsb-png.sender
hostname=sender
ip=172.21.0.20
terminal=1

[CONTAINER receiver]
image=steg_lsb-png.receiver
hostname=receiver
ip=172.21.0.30
terminal=1
