# goals.config
# Tiêu chí chấm điểm tự động

GOAL image_info_done
    RESULT  image_info
    OPERATOR  CONTAINS
    STRING  Width=

GOAL size_diff_done
    RESULT  size_diff
    OPERATOR  CONTAINS
    STRING  cover_size=

GOAL lsb_analysis_done
    RESULT  lsb_analysis
    OPERATOR  CONTAINS
    STRING  cover_R_LSB=

GOAL message_extracted
    RESULT  result
    OPERATOR  CONTAINS
    STRING  message=BIET_TEN_TOI_KHONG
