GLOBAL_SETTINGS
    HOST_HOME_XFER    lab_results
    LAB_MASTER_SEED   steg_lsb_png_seed_2024

NETWORK steg_net
    MASK  172.21.0.0/24
    GATEWAY 172.21.0.1

CONTAINER sender
    IMAGE   labtainer.base
    TERMINAL_GROUP  1
    ADD_HOST  receiver:172.21.0.30
    NETWORK steg_net  172.21.0.20

CONTAINER receiver
    IMAGE   labtainer.base
    TERMINAL_GROUP  2
    ADD_HOST  sender:172.21.0.20
    NETWORK steg_net  172.21.0.30
