    GLOBAL_SETTINGS
    LAB_MASTER_SEED steg_lsb_png_v1
    REGISTRY boy572k4-blip

NETWORK steg_net
     MASK 172.21.0.0/24
     GATEWAY 172.21.0.1

CONTAINER sender
     USER ubuntu
     X11 YES
     PASSWORD 1
     TERMINALS 1
     steg_net 172.21.0.20

CONTAINER receiver
     USER ubuntu
     X11 YES
     PASSWORD 1
     TERMINALS 1
     steg_net 172.21.0.30
