GLOBAL_SETTINGS
    HOST_HOME_XFER    lab_results
    LAB_MASTER_SEED   steg_lsb_png_seed_2024

NETWORK steg_net
    MASK  172.21.0.0/24
    GATEWAY 172.21.0.1

CONTAINER sender
    TERMINAL_GROUP  sender
    USER   root
    PASSWORD  password
    steg_net  172.21.0.20
    ADD-HOST  receiver:172.21.0.30

CONTAINER receiver
    TERMINAL_GROUP  receiver
    USER   root
    PASSWORD  password
    steg_net  172.21.0.30
    ADD-HOST  sender:172.21.0.20
